<launch>

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <group ns="slam">

    <node pkg="openvslam_ros" type="run_slam" name="openvslam"
          args="-v /home/metrics/data/orb_vocab.fbow -c $(find tij_challenger)/config/$(arg openvslam_config_file)"
          output="screen">
      <remap from="camera/color/image_raw" to="/camera/color/decompressed" />
      <remap from="camera/depth/image_raw" to="/camera/depth_registered/image_rect_raw" />
      <remap from="~pose" to="/odometry/final" />
      <param name="odom_frame" value="base_link" />
      <param name="map_frame"  value="odom" />
      <param name="publish_tf" value="true" />
    </node>
  
  </group>

</launch>
