<launch>

  <arg name="bag_file" />

  <arg name="loop" default="false" />

  <arg if="$(eval loop==true)" name="loop_args" value="--loop" />
  <arg unless="$(eval loop==true)" name="loop_args" value="" />

  <node name="rosbag_replayer" pkg="rosbag" type="play" respawn="false"
        args="--clock $(arg loop_args) $(arg bag_file)"
        output="screen" required="true" />

</launch>