<launch>
  <node pkg="tf" type="static_transform_publisher" name="imu_sensor_frame_publisher" args="0 0 0 0 0 0 imu_sensor_frame imu  100" />
  <node pkg="tf" type="static_transform_publisher" name="pandar_xt_frame_publisher" args="-0.001 -0.00855 0.055 0.7071068 -0.7071068 0 0 imu_sensor_frame PandarXT-32 100" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_frame_publisher" args="0 0 0 0 0 0 base_link imu_sensor_frame  100" />

</launch>